.branchesforlibrary{
  display: flex;
 flex-direction: column;
 align-items: center;
}
.branches-child{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  padding: .5em;
  margin: 1%;
  width :10%;
  color: #ffffff;
  background: #1c87c9;
  text-align: center;
}